
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/2.jpg" alt="Card image cap"  />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to additional content.
                   
                </p>
                  <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/13.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
              
                <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/4.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to additional content.
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/2.jpg" alt="Card image cap"  />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to additional content.
                   
                </p>
                  <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/13.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to additional content.                    
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/assets/img/elements/4.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to additional content.
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
