<style>
    .card-body-height {
        min-height: 225px !important;
        max-height: 225px !important;
        overflow-y: auto !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <h4>About Us</h4>
        <p>
            <b>PIMIRE INDUSTRIES</b> is Head quartered in Pune, India Specialized in supply chain Management of Electro-Mechanical Products, Industrial Chemicals, Non-Ferrous Metal Recycling Scrap, Waste Paper, – NDLKC- New Double Lined Kraft Corrugated cuttings/Sheets, Agro Food Commodities, Mining Solutions, Food Processing Plants, Cold room turnkey project consultancy etc.

        </p>
        <p>
            Our Vast network of overseas local representatives / Partners and processing units currently exports over many commodities to African & Asian countries. Our Valued customers enjoys benefits of constant & regular low cost high valued products, shipment optimization and best quality of products as well as services from us.
        </p>
        <p>
            PiMire Industries focuses on maintaining Healthy relationships and creating value for our customers (Both Buyers and Sellers).
        </p>
        <p>
            Industries Served by us:
        </p>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Electrical</h5>
                    <p class="card-text">SMC Junction and Meter Boxes, SMC Distribution Boxes, FRP Fuse Boards, FRP Fencing, SMC gratings, SMC Sheet, FRP Ladlers, FRP Cable Tray,  Solar LED Street Lights, Solar Tubular Battery, MCB, RCCB, Circuit Breaker,  Control Panels, enclosures, Switch Boxes, Motor, Battery etc…..</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Mechanical</h5>
                    <p class="card-text">Grinding Media, Spare parts for Material Handling System (Rollers, Conveyor parts, Pulley Lagging), Turnkey projects for material handling solutions, Gear Boxes. Heat Exchanger, Cooling System etc……</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Environmental</h5>
                    <p class="card-text">
                        Solid Waste Management products, Household Buckets, Litter Bins, Waste Bins, Container for Heavy Duty Wheel Barrow, Foot Operated Wheeled Waste Bins, Dumpler Placer, Tractor Driven Dumpler Placer, Tractor Driven Container Carrier System, etc……
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Industrial Chemicals </h5>
                    <p class="card-text">
                        Activated Carbon, Lead Nitrate, Soda Ash, ENA - Extra Neutral Alcohol with minimum strength 96% V/V, Chemicals required for Sugar Plants - Phosphoric acid, Caustic Soda, Sulphur dioxide, Hydrated Lime, Anti scalants, Biocide, Decolorising agent, Defoamer etc….
                    </p>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Agro Food Commodities </h5>
                    <p class="card-text">
                        Agro Food Commodities - (such as Grains, Feed mill Yellow corn, oil & Oil Seed’s, Pulses, Rice, Sugar, Dry Fruits & Nuts, Spices, Canned Foods and Specialty Products).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Non-Ferrous Metal Scrap </h5>
                    <p class="card-text">
                        Aluminum Scrap (Trump, Tense, Shredded, Zorba, Taint Tabor, Turning, Talon Wire etc.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-primary mb-3">
                <div class="card-body card-body-height">
                    <h5 class="card-title">Waste Kraft Paper </h5>
                    <p class="card-text">DOUBLE SORTED CORRUGATED Card Sheet etc.</p>
                </div>
            </div>
        </div>
       

    </div>
</div>
