
<div class="row">
     <div class="col-6">
        <h4>Contact Us</h4>
        <p> Company Name-   :  PIMIRE INDUSTRIES, PUNE INDIA</p>
         <p>  E-mail addresses :- <a href="mailto:info.pimireindustries@gmail.com">info.pimireindustries@gmail.com</a></p>
         <p>  Phone numbers    :- +91 8484985057 / 8484985058 / 8484985059</p>
         <p>  Addresses             :- Krishna Darshan, Sect 13, Pune India, Chinchwad, Pune - 411019, Maharashtra, India.</p>
         
         <p>  Website – <a href="https://www.pimireindustries.com">www.pimireindustries.com</a></p>
    </div>
</div>
