@using PimireWebApp.Utilities
@model IEnumerable<SubCategoryViewModel>
@{
    ViewData["title"] = "Product List";
}

    @if(Model?.Count() > 0)
    {
        <div class="row row-cols-1 row-cols-md-4">
        @foreach(var subCategory in Model)
    {
         <div class="col mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="~/@subCategory.ImageURL" height="150px" width="150px" alt="Card image cap"  />
            <div class="card-body">
                <h6 class="card-title">@subCategory.Title</h6>
                <p class="card-text">
                    @subCategory.Description                   
                </p>
                  <a asp-controller="Shop" asp-action="product-detail" asp-route-id="@subCategory.Id" class="btn btn-outline-primary">View Details</a>
            </div>

        </div>
    </div>
        }
        </div>
    }
    else
    {
    <div class="alert alert-primary" role="alert">
        Sorry! Product are not available
        
    </div>
    }

   

